html {
  font-size: 100%;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html,
body {
  font-smoothing: antialiased; }

h1 {
  font-family: 'Dancing Script', cursive; }

a {
  color: #FF5555; }

#root {
  background-color: #DBDBDB; }

.headroom--pinned {
  z-index: 1000 !important; }

.navbar {
  margin-bottom: 0;
  z-index: 1000 !important;
  position: relative; }
  .navbar .container {
    justify-content: space-between; }

.navbar-brand {
  padding: 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px; }

.nav.navbar-nav {
  display: flex;
  flex-flow: row wrap; }
  .nav.navbar-nav > li {
    flex-grow: 1;
    margin: 0 .5em; }
    .nav.navbar-nav > li .menu-item {
      padding: 0.5rem 1rem;
      text-align: center;
      z-index: 10; }
      .nav.navbar-nav > li .menu-item:hover, .nav.navbar-nav > li .menu-item:active, .nav.navbar-nav > li .menu-item:focus, .nav.navbar-nav > li .menu-item.active {
        background-color: #FFFFFF;
        text-decoration: none;
        outline: none; }

.nav-tabs a:hover, .nav-tabs a:active, .nav-tabs a:focus, .nav-tabs a.active {
  text-decoration: none;
  outline: none; }

.viewport {
  position: relative;
  background-color: #FFFFFF;
  box-shadow: 0 0 2em #FFFFFF;
  z-index: 1;
  padding-bottom: 4em;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em; }

.list-group-item-text {
  overflow: hidden; }

.footer {
  position: relative;
  z-index: 0;
  background-color: #DBDBDB;
  color: #FF5555; }
  .footer a {
    color: inherit;
    font-weight: bold; }
